# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Python package artifacts
*.egg-info/
.eggs/

# Temporary files
*.swp
*~

# IDE configuration
.vscode
.idea
/.vs/

# Project-specific
/out/

# Datasets
/datasets/

# Models
/pretrained/
/~$ Human Pose Estimation with 2D Marginal Heatmaps.doc
